@charset "UTF-8";

#banner {
    width: 100%;
}
.divPrincipal {
    background: #cccccc;
    padding: 30px;
}

.imgButton {
    padding: 0px 0px 10px 10px;
    width: 40px;
}

.titulo-principal {
    padding-left: 30px;
}

.titulo-centralizado {
    text-align: center;
}

.paragrafo-centralizado{
    text-align: center;
}
#missao {
    font-size: 20px;
}
em strong {
    color: #FF0000;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #ffffff;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagemBeneficios {
    width: 50%;
}
