@charset "UTF-8";

body {
    background: rgb(75, 72, 72);
    color: #cccccc;
}

#banner {
    width: 100%;
}

.principal {
    padding: 30px;
    text-align: center;
    color: #42863c;
}

h1 {
    text-align: center;
}
.tituloPrincipal {
    color: black;
    background: #ffffff;
    padding: 9px 0px;
    width: 70%;
    margin: auto;
}

p {
    text-align: center;
    font-size: 18px;
}
em strong {
    color: rgb(197, 157, 23);
}

.subTitulo {
    background-color: rgb(197, 157, 23);
    text-align: center;
    width: 20%;
    margin: auto;
    padding: 40px;
    border-radius: 15px;
    cursor: pointer;
}