@charset "UTF-8";

header {
    background: #bbbbbb;
    padding: 20px 0;
}


.titulo-principal {
    padding-left: 30px;
}


.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 100px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
 
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: #000000;
}

nav a:hover {
    text-decoration: underline;
    color: #c78c19;
}



#banner {
    width: 100%;
}
.divPrincipal {
    background: #cccccc;
    padding: 30px;
}

.imgButton {
    padding: 0px 0px 10px 10px;
    width: 40px;
}

.titulo-centralizado {
    text-align: center;
}

.paragrafo-centralizado{
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #ffffff;
    padding: 20px;
}

.segundaLista {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagemBeneficios {
    width: 50%;
}


footer {
    text-align: center;
    background: url('imagens/bg.jpg');
    padding: 40px 0px;
}

.copyright {
    color: #ffffff;
    margin: 20px 0 0;
    font-size: 13px;
}